body {
  color: white !important;
}

:root {
  --theme-primary: #424242;
  --theme-on-primary: #ffffff;
  --theme-dark: #1b1b1b;
  --theme-on-dark: #ffffff;
  --theme-light: #6d6d6d;
  --theme-on-dark: #ffffff;
  --theme-secondary: #073809;
  --theme-secondary-light: #8bc34a;
  --default-headline-color: white;
}

rocket-rotating-text {
  color: var(--theme-secondary);
}

a {
  color: white;
}

a.rocket-card {
  color: white;
}

.highlight {
  color: var(--theme-secondary);
}

p {
  font-size: 20px;
}

p,
summary {
  color: white !important;
}

rocket-header-scroll-menu a {
  color: white;
}

a.cta {
  background-color: var(--theme-secondary-light);
}

rocket-header-scroll-menu {
  position: absolute;
  width: 100vw;
  height: 110px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(0, 0, 0, 0.7035189075630253) 13%,
    rgba(0, 0, 0, 1) 34%
  );
}
main > *:first-child {
  padding-top: 0 !important;
}
main > *:nth-child(2n) {
  background: none !important;
}
main > *:nth-child(2n + 1) {
  background: none !important;
}
body {
  overflow: hidden;
}
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-9px) scale(11);
  height: 2500px;
}
.darksoil-background {
  filter: brightness(40%);
  background-image: url(/darksoil.jpg) !important;
  background-size: cover;
  background-position: center;
}

h1 {
  margin: 0;
  font-size: 54px !important;
}

h2 {
  text-align: left !important;
  font-size: 48px !important;
  margin-bottom: 40px !important;
}
h3 {
  margin-top: 0 !important;
}
p {
  text-align: justify;
}

rocket-content-area {
  padding: 40px;
  min-height: 50vh;
}

.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}

rocket-card {
  border: none;
  background-color: rgba(150, 150, 150, 0.2);
  min-width: 300px;
  max-width: 500px;
  border-radius: 16px;
  padding: 3rem 3rem;
}

body {
  background-color: black;
}

rocket-content-area p {
  max-width: 800px;
}

rocket-columns rocket-card {
  display: flex;
}

.photo {
  text-align: center;
  width: 64%;
  align-self: center;
  border-radius: 50%;
  padding-top: 8px;
}

footer {
  background: var(--theme-secondary);
  color: #fff;
}

footer a {
  color: #fff;
}

rocket-header-scroll-menu a.active,
rocket-header-scroll-menu a:hover {
  color: var(--theme-light);
}

.custom-social-links {
  margin-top: -22px;
}

h1 {
  font-size: var(--step-2);
  line-height: var(--step-3);
}

.legal {
  text-align: right;
}

.bg-blue {
  padding: var(--space-m-l, 2em) 0;
}

.bg-blue > div {
  text-align: center;
}

rocket-header-scroll-menu a:nth-child(2) {
  display: none;
}

.card-title {
  row-gap: 16px;
  margin-bottom: 16px;

  flex-flow: wrap;
  align-self: start;
}

.poem {
  height: 140px;
  display: flex;
}

@media screen and (min-width: 1024px) {
  rocket-header-scroll-menu {
    --rocket-header-scroll-menu-text-align: right;
    --rocket-header-scroll-menu-padding-right: 34ch;
  }
  rocket-header-scroll-menu a:nth-child(2) {
    display: inline;
  }
}

@media screen and (max-width: 1481px) {
  rocket-header-scroll-menu a {
    display: none !important;
  }

  .custom-social-links {
    margin-top: -13px;
  }
}
@media screen and (max-width: 599px) {
  rocket-header-scroll-menu {
    top: -18px;
  }
  .custom-social-links {
    left: -44px;
  }
  .parallax__layer--base {
    margin-top: 300px;
  }
  rocket-content-area {
    padding: 20px;
  }
  rocket-card {
    padding: 1rem;
    min-width: 250px;
  }
}
